<!DOCTYPE html>
<html>
  <head>
    <title>CoffeeBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
      <h1 id="blog-title"><a href="/">Faker Coffee Blog</a></h1>
    <%= yield %>
  </body>
</html>
